@import '../_var';
@import '../_mixin';

.header {
    width: 100%;
    border-bottom: 4px solid $MAIN_COLOR;

    .header__list {
        margin: 0 auto;
        padding: 16px;
        width: 100%;
        max-width: $CONTENTS_WIDTH;
        display: flex;
        justify-content: center;

        @include desktop {
            justify-content: right;
        }
    }

    .header__listItem {
        & + .header__listItem {
            margin: 0 0 0 28px;
        }

        a {
            color: $TEXT_COLOR;
            text-decoration: none;
            font-family: 'Bebas Neue';
            letter-spacing: 0.2em;
            transition: color 300ms;

            @include hover {
                color: $MAIN_COLOR;
            }
        }
    }
}
