@import '../_var';
@import '../_mixin';

.homeHeading {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.04em;

    @include desktop {
        font-size: 100px;
    }
}
