@import '../../_var';
@import '../../_mixin';

@keyframes HeadingFadeIn {
    0% {
        opacity: 0;
        top: 50px;
    }

    30% {
        opacity: 1;
        top: 50px;
    }

    80% {
        opacity: 1;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.homeHeading {
    margin: 0 0 30px;
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.04em;

    animation-name: HeadingFadeIn;
    animation-duration: 3000ms;
    animation-delay: 250ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    position: relative;
    z-index: 1000;

    @include desktop {
        font-size: 100px;
    }
}
