@import '../../_var';
@import '../../_mixin';

@keyframes HeadingFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.homeHeading {
    margin: -30px 0 0;
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.04em;

    animation-name: HeadingFadeIn;
    animation-duration: 1000ms;
    animation-delay: 500ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    position: relative;
    z-index: 2;

    @include desktop {
        font-size: 100px;
    }
}
