@import './_var';
@import './_mixin';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: $TEXT_COLOR;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.02em;
    scroll-behavior: smooth;

    @include desktop {
        font-size: 16px;
    }
}

a {
    color: $LINK_COLOR;

    @include hover {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
